.App {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    display: flex;
    justify-content: space-between;
    text-align: center;

    flex-direction: column;

    margin: 2rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .input {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: none;
      border-radius: 10px;
      height: 20px;
      text-align: center;
      color: black;
      background-color: rgba(255, 255, 255, 0.3);
    }

    input:focus {
      outline: none;
    }

    .title {
      display: flex;
      align-items: center;

      img {
        float: left;
      }
    }

    ::placeholder {
      color: black;
    }
    button {
      border: none;
      border-radius: 10px;
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      height: 20px;
      width: 70px;
    }
  }
}

.App:before {
  content: "";
  background: url("../assests/_nicegradient.jpeg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
